<h2><%= @cost.name %></h2>
<hr>
<h3>金額：<%= @cost.price %>円</h3>
<h3>説明：<%= @cost.description %></h3>
<hr>
<%= link_to "戻る", root_path, { :class => "btn btn-secondary" }%>
<%= link_to "編集", edit_cost_path, { :class => "btn btn-primary" }%>
<%= link_to "削除", cost_path(@cost.id), method: :delete,
  data:{ confirm: "支出「#{@cost.name}」を削除します。よろしいですか?" },
  class: "btn btn-danger"
%>