<!DOCTYPE html>
<html>
  <head>
    <title>家計簿アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navber-brand" href="/">家計簿アプリ</a>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
